.dkay {
	position: relative;
	.dkay_logo {
		width: 40%;
		text-align: center;
		margin: auto;
		@media screen and (max-width: 640px) {
			width: 90%;
		}
	}

	.dkay_info {
		display: inline-block;
		font-size:22pt;
	    font-family:Proba;
	    color:rgb(50, 191, 184) !important;
	    padding-bottom:5px;
	    padding-top:5px;
	    border-top:2px solid  rgba(35, 134, 129, 0.49) !important;
	    width:273px;
	    margin:auto;
	    &-drummasta{
	    	display: inline-block;
	    }
	    &-data {
			font-size:13pt;
			color:rgb(50, 191, 184) !important;
			padding-bottom:0px;
			padding-top:3px;
			text-align: center;
	    }
	}
}
