.about {
	text-align: center;
	background: url(../img/about-bg1.jpg) center 100% no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	&-h1 {
		display: block;
		margin: auto;
		padding-top: 50px;
		text-transform: uppercase;
		font-size: 25px;
		color: #FFF;
	}
	&-award {
		display: inline-block;
		margin: 50px auto;
		height: 200px;
		margin-left: 25px;
		margin-right: 25px;
		-webkit-border-radius: 5%;
        		border-radius: 5%;
		-webkit-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.5);
		   -moz-box-shadow:    0px 16px 30px 0px rgba(0, 0, 0, 0.5);
				box-shadow:         0px 16px 30px 0px rgba(0, 0, 0, 0.5);
		filter: grayscale(100%);
		&:hover {
			filter: grayscale(0%);
		}
		
	}
}